# App Version
MARIADB_VERSION=10.5.9
OPENLITESPEED_VERSION=1.7.16-lsphp74
PHPMYADMIN_VERSION=5.2.0
# Port Config
DATABASE_PORT=3306
WEBSERVER_PORT=80
WEBSERVER_SSL_PORT=443
WEBADMIN_PORT=7080
DBMS_PORT=8080
# Mariadb environment
MYSQL_ROOT_PASSWORD=
MYSQL_USER=sysadmin
MYSQL_PASSWORD=
MYSQL_PORT_FORWARD=3306
# Openlitespeed environment
DOMAIN=localhost
# General environment
TimeZone=Asia/Jakarta
